<% provide(:title, 'Contact Us') %>
<h1>Contact Information</h1>
<p>
	Hey you can email me at chris.yammine@hotmail.com <br>
	You can add my skype handle : @spiritmtl <br>
	Or you can suck my fat dick
</p>